newsapi-python
pymongo
python-dotenv
protobuf
regex
transformers
torch
beautifulsoup4==4.14.3
requests
lxml
pytrends
chromadb
sentence-transformers
tqdm
fastapi>=0.95.0
uvicorn[standard]>=0.18.3
SQLAlchemy>=1.4
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
argon2-cffi>=21.3.0
python-multipart>=0.0.6
typing-extensions>=4.0.0
